{% extends 'base.html.twig' %}
{% block body %}
    <div align="center",style="margin-top: 100px" class="card-body"> <h3>Veuillez remplir ce formulaire</h3> </div>

    <div align="center",style="margin-top: 100px" class="card-body">  {{ form(FormPartic) }} </div>


{% endblock %}